   <!-- Views/Shared/_Sidebar.cshtml -->
<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Products">Products</a>
        </li>
        <!-- Add more links as needed -->
    </ul>
</div>
